 body {
     font-family: roboto, sans-serif;
     margin: 0;
 }

 .header {
     display: flex;
     justify-content: space-around;
     background-color: #1F2937;
     font-size: 24px;
     padding: 10px;
 }


 .Logo {
     font-size: 24px;
     font-weight: bold;
     align-content: center;
     color: #f9faf8;
 }

 ul {
     list-style-type: none;
     padding: 0;
 }

 .right-links {
     display: flex;
     gap: 15px;
     color: #e5e7eb;
     font-size: 18px;
 }

 a {
     text-decoration: none;
     color: inherit;
 }